#body1 {
  background-image: url("Без названия (1).jpg");
  background-position: center center;
  background-size: 30%;
  background-position: bottom;
}
.beg {
  text-align: center;
  font-size: 60px;
  margin-top: 20%;
}
.claim_congratulation {
  width: 420px;
  height: 60px;
  cursor: pointer;
  background-color: aqua;
  margin-left: 37%;
  border-radius: 20px;
  font-size: 170%;
  border-color: green;
  border-width: 3px;
}

#body2 {
  background: rgb(65, 138, 64);
}
#cong {
  color: plum;
  height: 50px;
  width: 500px;
  margin: auto;
  margin-top: 8%;
  font-size: 30px;
}
#claim_congratulation_from_mom {
  height: 40px;
  width: 400px;
  color: rgb(15, 16, 15);
  margin-left: 38%;
  margin-top: 26%;
  cursor: pointer;
  background-color: aqua;
  border-radius: 20px;
  font-size: 22px;
  border-width: 3px;
  border-color: rgb(62, 102, 190);
}
#body3 {
  background-color: rgb(138, 187, 198);
}

#mom img {
  width: 15%;
  height: 10%;
  margin-left: 40%;
  margin-top: 40px;
}
#cong_f_mom {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  font-size: 23px;
}
#claim_reward {
  width: 400px;
  height: 60px;
  cursor: pointer;
  margin-left: 39.2%;
  margin-top: 60px;
  font-size: 30px;
  border-radius: 20px;
  background-color: pink;
}
#body4 {
  background-color: rgb(113, 54, 169);
}
#reward {
  margin-top: 100px;
  margin-left: 29%;
}
#t1 {
  font-size: 85px;
  color: rgb(27, 26, 26);
}
#t2 {
  font-size: 50px;
  width: 780px;
}
